<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="/js/app.js"></script>
</head>

<body>
    <h1>Dashboard 2.0</h1>
</body>

<meta http-equiv="Content-Security-Policy" content="default-src 'self' data: gap: https://ssl.gstatic.com 'unsafe-eval'; style-src 'self' 'unsafe-inline'; img-src 'self' 'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAKQWlDQ1BJQ0MgUHJvZmlsZQAASA2dlndUU9kWh8+9N73QEiIgJfQaegkg0jtIFQRRiUmAUAKGhCZ2RAVGFBEpVmRUwAFHhyJjRRQLg4Ji1wnyEFDGwVFEReXdjGsJ7601896a/cdZ39nnt9fZZ+9917oAUPyCBMJ0WAGANKFYFO7rwVwSE8vE9wIYEAEOWAHA4WZmBEf4RALU/L09mZmoSMaz9u4ugGS72yy/UCZz1v9/kSI3QyQGAApF1TY8fiYX5QKUU7PFGTL/BMr0lSkyhjEyFqEJoqwi48SvbPan5iu7yZiXJuShGlnOGbw0noy7UN6aJeGjjAShXJgl4GejfAdlvVRJmgDl9yjT0/icTAAwFJlfzOcmoWyJMkUUGe6J8gIACJTEObxyDov5OWieAHimZ+SKBIlJYqYR15hp5ejIZvrxs1P5YjErl...K318XyYrocMSQK4nwMDhE1LkSqZNMuuzhycthKVeU3LzaakBWVCoPOi7EZK+qGmr2xxG10d0VJ24ARLy3NKIjbgrTwGHz1SU+2747OwMX0Qyxqo5VC6rcBdVwOUZ2G8ggVXa8w43LgUnoeQo0LfM143vcBRQ13UfrxISbss2cZc8vcz7ko9Cw91h+ieDhMjzYXi8rV2x2KUzhwMmkXwoJCYHVM681Cdhea8lhcJXXAZ6Q94IvKp3ZwzrwPJkMQOn9aROExJmlxNBIWRcDmtONKUzWOJ2bCRneX+/qGnqKqNef6QdGL+GNB+brbt9k96WnAm+E2FCZsw/aIFOxckSYIeq0juE9h5PbQPzWKvTEbMGm36chFsytjhZaMc2nXOgYv0SjJIr2diifSunat1YGnf5/3WjnHFwcRa+TAefVbwMu1E6hc//WTyZvw7vyxILHKN7tUJ/SzB1PFa/Seqxi/E6gGnufjb8tvOL5bY3Z6BJoAAAAASUVORK5CYII='; media-src *;**script-src 'self' http://onlineerp.solution.quebec 'unsafe-inline' 'unsafe-eval';** ">

</html>

{{!-- this isn't working - I have no idea why --}}
